#placeholder {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-bottom: 20px;

	&:after{
		clear: both;
	}

	& p {
		flex: 0;
		font-weight: bold;
		font-size: 36px;
	}
}

.page-load-status {
	display: none; /* hidden by default */
	padding-top: 20px;
	border-top: 1px solid #DDD;
	text-align: center;
	color: #777;
}


#grid {
	width: 98vw;
	margin: 0 auto;
}

.grid__col-sizer {
	width: 30%;
	height: auto;
}
.grid__gutter-sizer {
	width: 3%;
}

.pagination__item {
	margin-bottom: 10px;
	width: 350px;

	& img {
		width: 100%;
	}
}