#placeholder {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-bottom: 20px;

    & p {
        flex: 0;
        font-weight: bold;
        font-size: 36px;
    }
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;

    .loader-ellips {
      font-size: 20px; /* change size here */
      position: relative;
      width: 4em;
      height: 1em;
      margin: 10px auto;
  }

  .loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &:nth-child(1),
    &:nth-child(2) {
      left: 0;
  }
  &:nth-child(3) { left: 1.5em; }
  &:nth-child(4) { left: 3em; }

  @keyframes reveal {
      from { transform: scale(0.001); }
      to { transform: scale(1); }
  }

  @keyframes slide {
      to { transform: translateX(1.5em) }
  }

  &:nth-child(1) {
      animation-name: reveal;
  }

  &:nth-child(2),
  &:nth-child(3) {
      animation-name: slide;
  }

  &:nth-child(4) {
      animation-name: reveal;
      animation-direction: reverse;
  }
}

}


.grid-container {

    width: 1080px;
    margin: 0 auto;

    #grid {

        width: 100%;
        margin: 0 auto;

        & .grid__col-sizer {
            width: 350px;
        }

        & .grid__gutter-sizer {
            width: 10px;
        }

        & .pagination__item {
            margin-bottom: 10px;
            width: 350px;

            & img {
                width: 100%;
            }
        }
    }

}